.big-heading {
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
  color:#fff;
}

h2{
  font-family:"arial-black";
   color:#e88504;
} 
  

 h3, h4, h5, h6, p{
  font-family:"arial-black";
   color:#FFA50F;
}
 
  body {
    background-image: url('https://cdn.discordapp.com/attachments/618225525407875102/1166383352278954044/Untitled105_20231024073003.png?ex=670dd3e5&is=670c8265&hm=f5283faa8d40c0a52f32c112b29e0798e79fd1904c6bec9df35b95596c77f154&'); 
   background-size: cover; 
   background-position: center center; 
   background-repeat: no-repeat;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin: 0; /* Remove default margin to avoid white space */
    padding: 0;
}

.card {
    background-color: white;
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px #ccc;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 300px;
}

img {
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}
 
#swipeLeft {
    background-color: #b01e4b;
    color: white; 
    font-family: 'Montserrat', sans-serif; /* Font Family */
    font-size: 16px; 
    padding: 10px 20px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#swipeLeft:hover {
    background-color: #a31f34; 

}

#swipeRight {
    background-color: #22885c;
    color: white; 
    font-family: 'Montserrat', sans-serif; /* Font Family */
    font-size: 16px; 
    padding: 10px 20px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#swipeRight:hover {
    background-color: #009c6b; 


}

.colored-section{
background-color: #FFB35f;
color:#fff;
}


#footer{
  text-align: center;
  background-color: #fff;
}

#resetButton {
    background-color: #ff8916;
    color: white; 
    font-family: 'Montserrat', sans-serif; /* Font Family */
    font-size: 16px; 
    padding: 10px 20px; 
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

#resetButton:hover {
    background-color: #e3aa47; 
}

.favorites-dropdown {
    position: relative;
}

.favoritesButton {
    background-color: #4CAF50;
    border: none;
    font-family: 'Montserrat', sans-serif; /* Font Family */
    margin-top: 10px; 
    padding: 10px 15px;
    cursor: pointer;
          display: none;
}

.favoritesList {
    display: none;
    position: absolute;
    background-color: #CEA45A;
    min-width: 160px;
      font-family: 'Montserrat', sans-serif;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.favorite-cat {
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: #CEA45A;
      font-family: 'Montserrat', sans-serif;
    color: black;
    border: none;
    width: 100%;
    text-align: left;
    cursor: pointer;
}

.favorite-cat:hover {
    background-color: #D9944F;
}

.home-button {
  margin: 5% 5% 5% 0;
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px; /* Adjust the margin as needed */
    padding: 10px; /* Adjust the padding as needed */
    background-color: #CEA45A;
    border: none;
        font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    color: #ffffff;
    cursor: pointer;
}
